<div class="container-fluid bg-yellow py-3 animated fadeInUp fast" id="footer">
    <div class="w-100 mx-0 row py-4">
        <div class="col text-center">
            <span class="footer-text py-1 px-3">Convenios</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 mx-auto text-center lego-footer">
            <p class="h5 mb-5">
                Tenemos disponibles convenios especiales para empresas, departamentos de bienestar, gerencias de RRHH, servicios públicos, FFAA, colegios, liceos y grupos grandes. Escríbenos y tendrás la posibilidad de visitarnos con atractivos precios preferenciales.
            </p>
            <p class="h3 my-5">Contáctanos en: <a target="_blank" class="mailto" href="mailto:theband@e-markettools.com"><b>theband@e-markettools.com</b></a></p>
            <p class="h4">Conoce las reglas de la casa <b class="footer-text clickable"><small><a class="text-white" href="assets/ReglasDeLaCasa.pdf" target="_blank">aquí</a></small></b></p>
            <p class="h4 mb-5 pb-3">Autorización para el uso de imágenes en eventos masivos <b class="footer-text clickable"><small><a class="text-white" href="assets/AutorizacionUsoDeImagenes.pdf" target="_blank">aquí</a></small></b></p>
            <p class="h6"><small>LEGO®, el logo de LEGO®, las minifiguras son marcas registradas y/o derechos de<br>autor del grupo LEGO®. Todos los derechos reservados. &copy;2019 The LEGO® Group.</small></p>
        </div>
    </div>
</div>