.gallery-text {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
}

.carousel-exit {
    cursor: pointer;
    position: relative;
    font-size: 40px;
    top: 70px;
    right: 30px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-block {
    cursor: pointer !important;
}

.sliderr {
    max-height: 500px !important;
    width: auto !important;
    max-width: 100% !important;
}

.carousel-item {
    background-color: rgba(0, 0, 0, 0.7);
}