<div class="container-fluid banner animated fadeIn fast">
    <div class="row py-3">
        <div class="col-6">
            <div class="ml-auto w-50 text-right">
                <img src="assets/images/banner/lego_logo.png" class="img-fluid" alt="Lego Logo">
            </div>
        </div>
        <div class="col-6">
            <div class="mr-auto w-50 text-left">
                <img src="assets/images/banner/phrase_logo.png" class="img-fluid" alt="Lego Logo">
            </div>
        </div>
    </div>
    <div class="row py-0 py-sm-2">
        <div class="col-6">
            <p class="text-center mb-0">
                <span class="banner-sub-text px-2">
                    {{ leftBannerText1 }}
                </span>
            </p>
            <p class="text-center">
                <span class="banner-sub-text px-2">
                    {{ leftBannerText2 }}
                </span>
            </p>
        </div>
        <div class="col-6">
            <p class="text-center mb-0">
                <span class="banner-sub-text px-2">
                    {{ rightBannerText1 }}
                </span>
            </p>
            <p class="text-center">
                <span class="banner-sub-text px-2">
                    {{ rightBannerText2 }}
                </span>
            </p>
        </div>
    </div>
    
</div>