<div class="row py-2 my-2 py-md-2 my-md-2 w-100 mx-0 animated fadeIn fast">
    <div class="col-10 col-md-8 col-lg-6 text-center mx-auto">
        <div class="card w-auto pt-0 m-0 map-text-container">
            <div class="card-body p-3">
                <h5 class="card-title map-text m-0"><b>{{ mapText1 }}</b></h5>
                <h5 class="card-title map-text m-0"><b>{{ mapText2 }}</b></h5>
            </div>
        </div>
    </div>
</div>
<div class="row py-2 my-2 py-md-4 my-md-4 mx-0 animated fadeIn fast">
    <div class="col-12 m-0 p-0 text-center" id="map">
        <img class="img-fluid d-lg-none mb-5" src="assets/images/maps/MapaWebMobile.jpg" alt="Site Map">
        <img class="img-fluid d-none d-lg-inline-block" src="assets/images/maps/MapaWebDesktop.jpg" alt="Site Map">
    </div>
</div>

<div class="legobg w-100"></div>